<!DOCTYPE html>
<html lang="en" ng-app="doughnutApp">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/doughnutFactory.js"></script>
  <script type="text/javascript" src="js/doughnutsController.js"></script>
  <title>Doughnuts!</title>
</head>
<body ng-controller="DoughnutsController as dc">

  <div class="row">
    <div class="large-offset-3 large-6 columns">
      <h1>You are gonna get FAT!</h1>
    </div>
  <div>

  <div class="row">
    <div class="large-4 columns">
      <form ng-submit="dc.create()">
        <label for="style">Style</label>
        <input type="text" ng-model="dc.freshDoughnut.style" placeholder="style"><label for="flavor">Flavour</label>
        <input type="text" ng-model="dc.freshDoughnut.flavor" placeholder="flavour">
        <input class="button" type="submit" value="Bake!">
      </form>
    </div>

    <div class="large-7 right columns">
      <table>
        <tr>
          <td><strong>Style</strong></td>
          <td><strong>Flavour</strong></td>
        </tr>
        <tr ng-repeat="doughnut in dc.all">
          <td ng-hide="doughnut.fiddling">
            <strong ng-hide="doughnut.fiddling" ng-click="doughnut.fiddling=true">{{ doughnut.style }}</strong>
          </td>
          <td ng-hide="doughnut.fiddling">
            <strong ng-hide="doughnut.fiddling" ng-click="doughnut.fiddling=true">{{ doughnut.flavor }}</strong>
          </td>
          <td ng-hide="doughnut.fiddling">
            <button ng-hide="doughnut.fiddling" ng-click="dc.delete(doughnut.id, $index)">Eat</button>
          </td>

          <td ng-if="doughnut.fiddling">
            <input type="text" ng-model="doughnut.style">
          </td>
          <td ng-if="doughnut.fiddling">
            <input type="text" ng-model="doughnut.flavor">
          </td>
          <td ng-if="doughnut.fiddling">
            <button ng-click="dc.fiddleDoughnut(doughnut)">Fiddle</button>
          </td>
          <td ng-if="doughnut.fiddling">
            <button ng-click="dc.cancelFiddling(doughnut.id, $index)">Cancel</button>
          </td>  
        </tr>
      </table>
    </div>
  </div>

</body>
</html>